*{
     box-sizing: border-box;
}
.gameArea{
     width:80vw;
     margin:auto;
     text-align: center;
}
.player{
     width: 33%;
     border: 1px solid #ddd1dd;
     min-height: 100px;
     float: left;
     padding: 10px;
     margin-bottom: 20px;
}
.btn{
     display: block;
     clear: both;
     margin: auto;
     color: rebeccapurple;
     border-radius: 13%;
}
.card {

     border: 6px solid green;
     margin: 10px;
     font-size: 1.5em;

}
.mes {
     text-align: center;
     padding: 10px;
     border: 6px solid red;
     clear: both;
}